{% extends 'base.html' %}
{% block content %}
<div style="padding:1em;">
    <div class="page-header">
        <h1>あなたの映画おすすめ３選</h1>
    </div>
    <div class="main">
        <div class="my-content">
            <h2 class="center">{{ username }}さんのおすすめ</h2>
            <div class="content">
                <div class="title"><p>【タイトル】{{ user.title }}</p></div>
                <div class="movies">
                    <div class="movie"></div>
                    <div class="movie"></div>
                    <div class="movie"></div>    
                </div>
            </div>
            <form method="POST" action="">
                {% csrf_token %}
                <table align="center" style="width:75%;">
                    <tr>
                        <th>タイトル</th>
                        <th>{{ form.title }}</th>
                    </tr>
                    <tr>
                        <th>作品１</th>
                        <th>{{ form.movie1 }}</th>
                    </tr>
                    <tr>
                        <th>作品２</th>
                        <th>{{ form.movie2 }}</th>
                    </tr>
                    <tr>
                        <th>作品３</th>
                        <th>{{ form.movie3 }}</th>
                    </tr>
                    <tr>
                        <th>Twitterアドレス</th>
                        <th>{{ form.twitter }}</th>
                    </tr>
                    <tr>
                        <th>メールアドレス</th>
                        <th>{{ form.email }}</th>
                    </tr>
                    <tr hidden>
                        <th>投稿者</th>
                        <th>{{ form.username }}</th>
                    </tr>
                </table>
                <br>
                <div class="center">
                    <input type="submit" name="Create" id="">    
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}